.ToolsDiv {
    background-color: #eeecec;
    border-bottom: 1px solid #c4c4c4;
    padding: 0;
    height: 74px;
    justify-content: start;
    align-items: center;
    display: flex;
}

.ToolsButton {
    border: none;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}


.ToolsButton:hover {
    transform: scale(1.05);
}

