.TablesListContainer {
    overflow-y: auto;
    max-height: 450px;
    overflow-x: auto;
    border-bottom: 1px solid #c4c4c4;
}


.TablesHeader {
    padding: 8px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    margin-bottom: 13px;
    font-weight: bolder;
    background-color: #eeecec;

   

}

.TablesList {
    text-align: center;

}

.TablesList tr th {
    background-color: #ffffff;
    font-size: 16px;
}



.TablesList tr td {
    font-size: 15px;
}

.ActionButton {
    padding: 5px;
    margin: 3px;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 16px;
    transition: 0.3s all ease-in-out;

}

.ActionButton:hover {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
    transform: scale(1.1);
    
}



